@inherits LayoutComponentBase

<div>
    <nav class="navbar bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
        </div>
    </nav>
    <main class="container my-4 d-flex gap-4 flex-column">
    @Body
    </main>
</div>