@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1>Wishlist</h1>

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="@NavigationManager.ToAbsoluteUri("wishlists")">Go to Wishlists</a>
    </div>
</div>